<div class="w-full mx-auto mt-16 h-auto" x-data="{showFilters: false}">
  <!-- Combined search and filter form -->
  <form 
    action="/search" 
    method="get" 
    class="" 
    role="search"
    x-data="{ 
      showFilter: []
    }"
  >
    <!-- Search input section -->
    <div class="w-1/2 mx-auto flex items-center text-lg">
      <input 
        type="search" 
        name="q" 
        placeholder="Search" 
        class="w-full calvino pb-4 text-center outline-none placeholder:calvino placeholder:text-[#6B7280] border-b border-solid border-[#6B7280]"
        value="{{ search.terms | escape }}"
      >
      <button type="submit" class="pb-4">{% render 'icon-search' %}</button>
    </div>

    <!-- Controls section -->
    <div class="!mb-8 !mt-8 py-4 border-y border-solid border-[#D1D5DB] flex justify-between items-center">
      <!-- Filter button -->
      <div class="relative h-[25px] w-[120px] md:w-[150px] flex justify-start items-center cursor-pointer" @click="showFilters = !showFilters">
        <button type="button" class="font-bold absolute">Show Filters</button>
        <div class="absolute right-[5px]" :class="{ 'rotate-90': showFilters }">
          {% render "icon-down" %}
        </div>
      </div>

      <!-- Sorting dropdown -->
      <div class="flex md:items-center gap-4 flex-col md:flex-row items-start">
        <p class="font-bold text-[15px] md:text-[16px]">Sort By</p>
        <div class="relative w-[150px] mb-[10px] md:mb-0 flex gap-2 justify-start items-center">
          <select 
            name="sort_by" 
            id="sort-by" 
            class="w-full appearance-none absolute font-bold text-[#4B5563] outline-none"
            @change="$el.form.submit()"
          >
            {% assign sort_by = search.sort_by | default: search.default_sort_by %}
            {% for option in search.sort_options %}
              {% if option.name != "Featured" %}
                <option 
                  value="{{ option.value }}"
                  {% if option.value == sort_by %}selected="selected"{% endif %}
                >
                  {{ option.name }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
          <div class="absolute right-[5px]">
            {% render "icon-down" %}
          </div>
        </div>
      </div>
    </div>

    {% if search.performed %}
      <!-- Filters section -->
      <div 
        class="w-[90%] md:w-[30%]"
        x-cloak
        x-show="showFilters"
      >
        {%- for filter in search.filters -%}
          <div class="filter-section flex flex-col mb-4">
            <div class="filter-summary cursor-pointer" @click="showFilter.includes({{ forloop.index }}) ? showFilter = showFilter.filter(opt => opt !== {{ forloop.index }}) : showFilter.push({{ forloop.index }})">
              <div class="flex items-center justify-between w-full">
                <span class="font-bold">{{ filter.label }}</span>
                <div>
                  {% render "icon-down" %}
                </div>
              </div>
            </div>

            <div class="filter-details mt-2" x-cloak x-show="showFilter.includes({{ forloop.index }})">
              <div class="flex justify-between items-center mb-4">
                {%- if filter.active_values.size > 0 -%}
                  <p>
                    <a href="{{ filter.url_to_remove }}" class="underline hover:text-[#777]">Reset</a>
                  </p>
                {%- endif -%}
              </div>
              {%- case filter.type -%}
                {%- when 'boolean' -%}
                  <ul class="space-y-2">
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}" class="check-container flex items-center">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.true_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          class="mr-2"
                          {% if filter.true_value.active -%}checked{%- endif %}
                          {% if filter.true_value.count == 0 and filter.true_value.active == false -%}disabled{%- endif %}>
                          <span class='checkmark'></span>
                          {{ filter.true_value.label }}      
                      </label>
                    </li>
                    <li>
                      <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}" class="check-container flex items-center">
                        <input
                          type="checkbox"
                          name="{{ filter.param_name }}"
                          value="{{ filter.false_value.value }}"
                          id="Filter-{{ filter.param_name }}"
                          class="mr-2"
                          {% if filter.false_value.active -%}checked{%- endif %}
                          {% if filter.false_value.count == 0 and filter.false_value.active == false -%}disabled{%- endif %}>
                          <span class='checkmark'></span>
                          {{ filter.false_value.label }}</label>
                    </li>
                  </ul>
                {%- when 'list' -%}
                  <ul class="space-y-2">
                    {%- for filter_value in filter.values -%}
                      <li>
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}" class="check-container flex items-center">
                          <input
                            type="checkbox"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                            class="mr-2"
                            {% if filter_value.active -%}checked{%- endif %}
                            {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}>
                            <span class='checkmark'></span>
                          <span class="flex items-center mr-2">
                            {{ filter_value.label }}
                          </span>
                        </label>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- when 'price_range' -%}
                  <div class="filter-group-display__price-range space-y-4">
                    <div class="filter-group-display__price-range-from flex items-center">
                      <span class="mr-2">{{ cart.currency.symbol }}</span>

                      <input
                        name="{{ filter.min_value.param_name }}"
                        id="Filter-{{ filter.min_value.param_name }}"
                        class="border p-2 rounded-md w-full [&::-webkit-inner-spin-button]:appearance-none outline-none"
                        {% if filter.min_value.value -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="0"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

                      <label for="Filter-{{ filter.min_value.param_name }}" class="ml-2">From</label>
                    </div>
                    <div class="filter-group-display__price-range-to flex items-center">
                      <span class="mr-2">{{ cart.currency.symbol }}</span>

                      <input
                        name="{{ filter.max_value.param_name }}"
                        id="Filter-{{ filter.max_value.param_name }}"
                        class="border p-2 rounded-md w-full [&::-webkit-inner-spin-button]:appearance-none outline-none"
                        {% if filter.max_value.value -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {%- endif %}
                        type="number"
                        placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        min="0"
                        max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

                      <label for="Filter-{{ filter.max_value.param_name }}" class="ml-2">To</label>
                    </div>
                  </div>
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}

        <!-- Apply Filters Button -->
        <button type="submit" class="w-full bg-black text-white py-2 px-4 rounded-md hover:bg-gray-800">
          Apply Filters
        </button>

        <!-- Active filters section -->
        <div class="mt-4">
          <p>
            <a href="{{ search.url }}?sort_by={{ search.sort_by }}" class="hover:text-[#777] underline">Clear all</a>
          </p>

          {%- for filter in search.filters -%}
            {%- if filter.type == "price_range" -%}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                <p class="mt-2">
                  <a href="{{ filter.url_to_remove }}" class="text-[#777] flex justify-between items-center">
                    {%- assign min_value = filter.min_value.value | default: 0 -%}
                    {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
                    {{ min_value | money }} - {{ max_value | money }}
                    <span class="text-red-500">{% render "icon-close" %}</span>
                  </a>
                </p>
              {%- endif -%}
            {%- else -%}
              {%- for filter_value in filter.active_values -%}
                <p class="mt-2">
                  <a href="{{ filter_value.url_to_remove }}" class="text-[#777] flex justify-between items-center">
                    {{ filter.label }}: {{ filter_value.label }}
                    <span class="text-red-500">{% render "icon-close" %}</span>
                  </a>
                </p>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>

      <!-- Search results -->
      <div class="w-[96%] mx-auto my-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for item in search.results %}
          {% render "search-result", item: item %}
        {% else %}
          <div class="mx-auto w-fit my-8 h-[300px] flex items-center justify-center">
            <p>No results</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </form>
</div>